<div class="main">
    <div class="user_show">
     <div class = "user_date">

      <div class= "user_nickname">
        <%= @user.nickname%>
      </div>

      <% if user_signed_in? && current_user.id == @user.id %>
      <div class= "profile_edit">
        <%= link_to "プロフィールを編集",  edit_user_registration_path(@user.id), class: :post_btn %>
      </div>
      <% end %>
      
       <div class= "user_profile" >
         <%= @user.profile %>
       </div>
      
      <%#フォロー%>
      <div class= "user_follows">

        <div class= "follow">
          <%= link_to follows_user_path(@user),class:"follow" do %>
         フォロー <%= @following_users.count %>
         </div>
        <% end %>
        <div class= "follower">
        <%= link_to followers_user_path(@user),class:"follower" do %>
        フォロワー <%= @follower_users.count %>
        </div>
        <% end %>
     
       <%#フォロー%>
        <div class= "post_count">
         投稿数 <%= @user.posts.count %>
         </div>
     </div>
    
    <div class= "user_followed">
     <% if user_signed_in? && current_user != @user %>
         <div>
            <% if current_user.following?(@user) %>
             <%= link_to 'フォロー中', user_relationships_path(@user.id),class: :followed_btn, method: :delete %>
             <% else %>
             <%= link_to 'フォロー', user_relationships_path(@user.id),class: :followed_btn, method: :POST %>
            <% end %>
          </div>
        <% end %>
        </div>
    </div>



      <div class=user_image>
      <% if @user.image.attached? %>
       <%= image_tag @user.image, class: :circle%>
      <% else %>
       <%= image_tag "icon.png",class: :circle %>
        <% end %>
       </div>
     </div>


      <div class= user_post>
       <div class= post_list><h2>
        <%= @user.nickname %>さんの投稿
       </h2></div>
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
        <%= render partial: "posts/post", collection: @posts %>
      </div>
  <div>　</div>
</div>