<main class="main">
<div class="inner">
  <div class="main_contents wrapper">
    <article>
        
     <div>
      <%= render partial:"post", collection: @posts %>
    </div>
    </article>

    <aside>
    <div>
     <h4>〜当Webサイトについて〜</h4>
      aaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaa
      <div>

      <div>
      <%= link_to image_tag('tadaneta1.png'),  new_post_path %>
      </div>

 <div class="ranking">
   <%= link_to "人気記事", ranks_path %>
   <% @all_ranks.each.with_index(1) do |post, i| %>
   <div>第<%= i %>位
   </div>
  <%= render partial: "posts/post", locals: { post: post } %>
  <% end %>
 </div>
    </aside>

  </div><%# main_contents wrapper %>
</div>
</main>