<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ただネタ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header class="header">
     <div>
     <%= link_to image_tag('tadaneta.png', class: :logo), root_path %>
     </div>
     <div class='my-page'>
        <% if user_signed_in? %>
         <%= link_to user_path(current_user.id), method: :get do %>
        <i class="fas fa-portrait icon"></i>
        <% end %>
        <% end %>
         </div>
<div class = "head_title">ネタバレには興味ありません</div>

       
     
          <div class="nav">
           
           <%# ログインしているときは以下を表示するようにしましょう %>
           <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: :nav__logout %>
              <%= link_to "投稿", new_post_path, class: :nav__btn %>
            </div>
           <%# // ログインしているときは上記を表示するようにしましょう %>
           <%# ログインしていないときは以下を表示するようにしましょう %>
           <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
            <% end %>
           <%# // ログインしていないときは上記を表示するようにしましょう %>
           <div class="nav__left">
           <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
            <% end %>
        </div>
        </div>
        

        
      

    </header>
       <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © TADANONETABARE All rights reserved.</p>
    </footer>
  </body>
</html>
